<style type="text/css">
			*{font-size: 25px;}
			.btmark{
			
				color: chocolate;
				width: 40px;height: 35px;
			}
			.btnum{
				color: coral;
				width: 40px;height: 35px;
			}
			.btdiv{
				//font-size: 25px;
				color: chocolate;
				width: 40px;height: 35px;
			}
		</style>